
              <h1>sign up for new Account</h1><br />
              <%= form_for(:user, url: registration_path(:user)) do |f| %>
              <div class="input-group">
              <%= f.label :email %>
              <%= f.email_field :email, autofocus: true %>
              </div>
              <div class="input-group">
              <%= f.label :login %>
              <%= f.text_field :login, autofocus: true %>
              </div>
              <div class="input-group">
              <%= f.label :firstname %>
              <%= f.text_field :firstname, autofocus: true %>
              </div>
              <div class="input-group">
              <%= f.label :lastname %>
              <%= f.text_field :lastname, autofocus: true %>
              </div>
              <div class="input-group">
              <%= f.label :password %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %>
              <%= f.password_field :password, autocomplete: "off" %>
              <%= f.label :password_confirmation %>
              <%= f.password_field :password_confirmation, autocomplete: "off" %>
              </div>
              <div class="actions">
                <%= f.submit "Sign up", class: "login loginmodal-submit" %>
              </div>
              <% end %>

              <div class="login-help">
               <a href="#">Allready Have an Account</a>
             </div>
