<!-- 
<input type="text" class="daterange"/> -->
<%= javascript_tag do %>
  disa = '<%= @disa %>'.replace(/&quot;/g,'"');
  check_in = '<%= Date.today%>';
  check_out = '<%= Date.today.days_since(1)%>';
<% end %>

<%= form_with(model: booking, local: true) do |form| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="input-daterange input-group" id="datepicker">
    <%= form.datetime_field :check_in, "data-provide" => 'datepicker',"data-date-format" => 'yyyy-mm-dd', class: "input-sm datepicker" %>
    <span class="input-group-addon">to</span>
    <%= form.datetime_field :check_out, class: "input-sm datepicker" %>
  </div>

  <div class="price">
  
  </div>
    <%= form.hidden_field :hotel_id, value: params[:hotel_id], id: :booking_hotel_id if params[:room_id] %>


    <%= form.hidden_field :room_id, value: params[:room_id], id: :booking_room_id %>
    <%= form.hidden_field :booked, id: :booking_booked %>

    <%= form.hidden_field :room_id, value: Booking.find(params[:id]).room_id, id: :booking_room_id unless params[:room_id]%>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
