
<%= javascript_tag do %>

var date = new Date();
var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
disa = '<%= @disa.to_json %>';
disa = JSON.parse(disa.replace(/&quot;/g,'"'));
(function() {
$(document).on('turbolinks:load', function() {
return $('#datepicker').datepicker({
format: 'yyyy-mm-dd',
todayBtn: true,
language: '<%= I18n.locale[0..1]%>',
daysOfWeekHighlighted: '0,6',
todayHighlight: true,
datesDisabled: disa,
autoclose: true,
startDate: today,
orientation: "auto left"
});
});

}).call(this);


<% end %>

<%= form_with(model: @booking, remoute: false,local: true) do |form| %>
<% if @booking.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

  <ul>
    <% @booking.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="input-daterange input-group" id="datepicker">
  <%= form.text_field :check_in,  class: "input-sm form-control", id: :start %>
  <div class="input-group-addon">to</div>
  <%= form.text_field :check_out,  class: "input-sm form-control", id: :out %>
</div>

<div class="price">

</div>
<%= form.hidden_field :hotel_id, value: params[:hotel_id], id: :booking_hotel_id if params[:hotel_id] %>


<%= form.hidden_field :room_id, value: params[:id], id: :room if params[:id] %>
<%= form.hidden_field :booked, id: :booking_booked %>

<br>
<hr>
<script type="text/javascript">
  $(document).ready(function() {
    $('#selectservice').selectpicker();
  }); </script>
  <%= form.select 'ad_service', options_for_select(Service.all.where(enable: :true).collect {|p| [p.name, p.price, p.id] }), {}, multiple: true, size: 5, class: "form-control", id: :selectservice%>
  <br>
  <hr>
  <div class="actions col-lg-3">
    <%= form.submit (t :booking), class: "btn btn-primary btn-block" %>
  </div>
  <% end %>
  <%= javascript_tag do %>
    $('.input-sm').on('keyup keypress blur change', function(){
      var tmp = null;
      $.ajax({
        url : "/subprice",
        type : "post",
        beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
        data : { room_id: room.value, check_in: start.value, check_out: out.value},
        dataType: "script",
        success: function (result) {
          eval()
        }
      });

    });
    <%end%>