
<h1>My bookings</h1>

<table>
  <thead>
    <tr>
      <th>Check in</th>
      <th>Check out</th>
      <th>Hotel</th>
      <th>Room</th>
      <% if current_user.id == 1 %>
      <th>Username</th>
      <%end%>
      <th>Days</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= Date.parse(booking.check_in.to_s) %></td>
        <td><%= Date.parse(booking.check_out.to_s) %></td>
        <td><%= Hotel.find(booking.hotel_id).name %></td>
        <td><%= Room.find(booking.room_id).name %></td>
        <% if current_user.id == 1 %>
        <td><%= User.find(booking.user_id).email %></td>
        <%end%>
        <td><%= (Date.parse(booking.check_out.to_s) - Date.parse(booking.check_in.to_s)).to_i %></td>
        <td><%= link_to 'Show', booking %></td>
        <td><%= link_to 'Edit', edit_booking_path(booking) %></td>
        <td><%= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
