<div class="col-lg-8 col-lg-offset-2">
  <div id="registerwrap">
<h1><%= t 'mybookings' %></h1>
</div>
<% if current_user.id != 1%>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th><%= t :check_in%></th>
      <th><%= t :check_out%></th>
      <th><%= t :hotel%></th>
      <th><%= t :room%></th>
      <% if current_user.id == 1 %>
      <th>Username</th>
      <%end%>
      <th><%= t :days%></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%=l Date.parse(booking.check_in.to_s), form: :short %></td>
        <td><%= Date.parse(booking.check_out.to_s) %></td>
        <td><%= Hotel.find(booking.hotel_id).name %></td>
        <td><%= Room.find(booking.room_id).name %></td>
        <% if current_user.id == 1 %>
        <td><%= User.find(booking.user_id).email %></td>
        <%end%>
        <td><%= (Date.parse(booking.check_out.to_s) - Date.parse(booking.check_in.to_s)).to_i %></td>
        <td><%= button_to (t :show), booking, method: :get, class: "btn btn-default" %></td>
        <td><%= button_to (t :edit), edit_booking_path(booking), method: :get, class: "btn btn-default" %></td>
        <td><%= button_to (t :delete), booking, method: :delete, data: { confirm: (t 'ausure') }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%else%>
<div class="row">
  <div class="col-md-12 text-center">
    <div class="well controls">
      <%= link_to bookings_path(date: @date - 1.month), class: "btn btn-default" do %>
        <i class="glyphicon glyphicon-backward"></i>
      <% end %>
      <%= "#{I18n.t("date.month_names")[@date.month]} #{@date.year}" %>
      <%= link_to bookings_path(date: @date + 1.month), class: "btn btn-default" do %>
        <i class="glyphicon glyphicon-forward"></i>
      <% end %>
    </div>
  </div>
</div>
<% dd = employ_rooms%>
<%= calendar(year: @date.year, month: @date.month, first_day_of_week: 1) do |d|
 
 p d if dd.include?(d)
end%>


<% end %>
</div>
