<div class="col-lg-8 col-lg-offset-2">
<div class="accordion-inner">
<hr>
<br>
<h2><%= ((t :accomod) + ": " + (Hotel.find(@booking.hotel_id).name)).upcase %></h2>
<hr>
<br>

<p>
<strong><%= t :client%></strong>
<%= User.find(@booking.user_id).firstname + " " + User.find(@booking.user_id).lastname %>
<p>
  <strong><%=(t :check_in) + ":"%></strong>
  <%= I18n.l Date.parse(@booking.check_in.to_s), format: :short %>
</p>

<p>
  <strong><%=(t :check_out) + ":"%></strong>
  <%= I18n.l Date.parse(@booking.check_out.to_s), format: :short %>
</p>

<p>
  <strong><%=(t :hotel) + ":"%></strong>
  <%= Hotel.find(@booking.hotel_id).name %>
</p>


<p>
  <strong><%=(t :room) + ":"%></strong>
  <%= Room.find(@booking.room_id).name %>
</p>

<p>
  <strong><%=(t :subtotall) + ":"%></strong>
  <%= price_subtotal(@booking.room_id,@booking.check_in,@booking.check_out) %>
</p>

<hr>
<h3><%= (t :adservices) %></h3>

<% Service.find(@booking.ad_service).each do |service| %>
 <strong><%=(t :adservice) + ":"%></strong>
 <%= (service.name) + ":" + (service.price.to_s) + " ₽" %>
 <br>
 <%end%>

<hr>
<h3>
  <strong><%=(t :total) + ":"%></strong>
  <%= @booking.subtotal.to_s + " ₽"%>
</h3>


</div>
<%= link_to (t :edit), edit_booking_path(@booking) %> |
<%= link_to (t :back), bookings_path(params[:room_id] = @booking.room_id) %>
<%= link_to (t :delete), @booking, method: :delete, data: { confirm: (t :ausure) } %>
<%= link_to 'Download_PDF', download_pdf_bookings_path(booking: @booking.id) %>
</div>