<p>
  <strong>Дата заезда</strong>
  <%= Date.parse(@booking.check_in.to_s).strftime("%B %d, %Y, %A") %>
</p>

<p>
  <strong>Дата отъезда:</strong>
  <%= Date.parse(@booking.check_out.to_s).strftime("%B %d, %Y, %A") %>
</p>

<p>
  <strong>Hotel:</strong>
  <%= Hotel.find(@booking.hotel_id).name %>
</p>

<p>
  <strong>Room:</strong>
  <%= Room.find(@booking.room_id).name %>
</p>

<p>
  <strong>SubTotal:</strong>
  <%= @booking.subtotal %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
<%= link_to 'Delete', @booking, method: :delete, data: { confirm: 'Are you sure?' } %>
