<p id="notice"><%= notice %></p>

<h1>Ad Services</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Enable</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ad_services.each do |ad_service| %>
      <tr>
        <td><%= ad_service.name %></td>
        <td><%= ad_service.price %></td>
        <td><%= ad_service.enable %></td>
        <td><%= link_to 'Show', ad_service %></td>
        <td><%= link_to 'Edit', edit_ad_service_path(ad_service) %></td>
        <td><%= link_to 'Destroy', ad_service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ad Service', new_ad_service_path %>
