<%= form_with url: ([@hotel,@rooms,@price]) do |form| %>

  <% if price.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(price.errors.count, "error") %> prohibited this price from being saved:</h2>

      <ul>
      <% price.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, value: @price_val, id: :price_price %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, value: @desc_val, id: :price_description %>
  </div>
  <%= form.hidden_field :hotel_id, value: @hotel_id %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
