<p id="notice"><%= notice %></p>

<h1><%= @rooms.name %></h1>

<table>
  <thead>
    <tr>
      <th>Price</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

      <tr>
      <% @prices.taryph.each {|i| @index = i.index if Date.parse(i.udate.to_s) < Date.today and Date.parse(i.edate.to_s) < Date.today} %>
        <td><%= @prices.price.to_s + ": now price "%><strong><%= @prices.price+@index %></strong></td>
        <td><%= @prices.description %></td>
        <td><%= link_to 'Show', price_path(:id => @prices.id) %></td>
        <td><%= link_to 'Edit', edit_price_path(:id => @prices.id) %></td>
        <td><%= link_to 'Destroy', (@prices), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>

  </tbody>
</table>

<br>

<%= link_to 'New Price', new_hotel_room_price_path %>|
<%= link_to 'Back', hotel_room_path(id: params[:room_id]) %>
<%= link_to 'Taryph', price_taryphs_path(:price_id => @rooms.price) %>