<p id="notice"><%= notice %></p>

<p>
  <strong>Price:</strong>
  <%= @price.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @price.description %>
</p>

<%= link_to 'Edit', edit_hotel_room_price_path %> |
<%= link_to 'Back', hotel_room_prices_path %>
