<p id="notice"><%= notice %></p>

<p>
  <strong>Price:</strong>
  <%= @price.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @price.description %>
</p>

<%= link_to 'Edit', edit_price_path(@price) %> |
<%= link_to 'Back', ([@hotel_,@room_]) %>
