<p id="notice"><%= notice %></p>

<h1>Rooms</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Bad</th>
      <th>Lux</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td><%= room.name %></td>
        <td><%= room.description %></td>
        <td><%= room.bed %></td>
        <td><%= room.lux %></td>
        <td><%= room.price.last.price %></td>
        <td><%= link_to 'Show', ([@hotel, room]) %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>


