<p id="notice"><%= notice %></p>

<div id="pricing" class="container" name="pricing">
  <br>
  <div class="row">
    <br>
    <div class="col-lg-6 col-lg-offset-3">
      <h2 class="centered"><%= @room.name %></h2>
      <hr>
      <br>
      <br>
      <p><%= @room.description %></p>
      <% price = @room.price.last %>

   </div>
  </div>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <%= image_tag("car1/1.jpg", class: "d-block img-fluid") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("car1/2.jpg", class: "d-block img-fluid") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("car1/3.jpg", class: "d-block img-fluid") %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


  <div class="row">
    <% 
    price.taryph.each do |i| 
      per = i.udate.to_s + "<->" + i.edate.to_s
      cen = price.price+i.index
      month = ["Январь","Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"]
      %>
      <div class="col-lg-3">
        <div class="pricing-option">
          <div class="pricing-top">
          <% if Date.parse(i.udate.to_s) < Date.today and Date.parse(i.edate.to_s) > Date.today  %>
            <span class="special-label">ЦЕНА СЕЙЧАС!</span>
            <%end%>
            
            <span class="pricing-edition"><%=month[Date.parse(i.udate.to_s).month - 1]%></span>
            <span class="price">
              <small style="bottom: 25px;left: 5px;">₽</small>

              <span class="price-amount"><%= cen %></span>
              <small style="left: 0px;">/д</small>
            </span>
          </div>
          <ul>
            <li>
            <strong><%= per %></strong>
            </li>
        </ul>

          </div>

      </div>
      <%end%>
    </div>
  </div>
</div>












<%= link_to 'Back', hotel_rooms_path %>|
<% if current_user %>
<% if current_user.id == 1 %>
<%= link_to 'Prices', ([@hotel, @room,'prices']) %>|
<% end %>
<% end %>
<%= link_to 'Booking', {controller: "bookings", action: "new", hotel_id: params[:hotel_id], room_id: params[:id]} %>


