<div class="col-lg-8 col-lg-offset-2">
<div id="pricing" class="container" name="pricing">
  <br>
  <div class="row">
    <br>
    
      <h2 class="centered"><%= @room.name %></h2>
      <hr>
      <br>
      <br>
      <p class="centered"><%= @room.description %></p>
      <% price = @room.price.last %>

   </div>
  </div>


<br>
<br>
<hr>
<% if current_user && current_user.id == 1 %>
<%= link_to 'Back', hotel_rooms_path %>|

<%= link_to 'Prices', ([@hotel, @room,'prices']) %>|

<%= link_to 'Booking', {controller: "bookings", action: "new", hotel_id: params[:hotel_id], room_id: params[:id]} %>
<% end %>
<br>

<%= carousel_for(@room.image_urls)%>
<br>
<hr>
<br>

  <div class="row">
    <% 
    price.taryph.each do |i| 
      per = i.udate.to_s + "<->" + i.edate.to_s
      cen = price.price+i.index
      month = ["Январь","Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"]
      %>
      <div class="col-lg-3">
        <div class="pricing-option">
          <div class="pricing-top">
          <% if Date.parse(i.udate.to_s) < Date.today and Date.parse(i.edate.to_s) > Date.today  %>
            <span class="special-label">ЦЕНА СЕЙЧАС!</span>
            <%end%>
            
            <span class="pricing-edition"><%=month[Date.parse(i.udate.to_s).month - 1]%></span>
            <span class="price">
              <small style="bottom: 25px;left: 5px;">₽</small>

              <span class="price-amount"><%= cen %></span>
              <small style="left: 0px;">/д</small>
            </span>
          </div>
          <ul>
            <li>
            <strong><%= per %></strong>
            </li>
        </ul>

          </div>

      </div>
      <%end%>
    </div>
  </div>
</div>