<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @hotel.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= raw(@hotel.description) %>
</p>


<%= link_to 'Back', hotels_path %>
<%= link_to 'Rooms', hotel_rooms_path(@hotel) %>