<p id="notice"><%= notice %></p>

<p>
  <strong>Udate:</strong>
  <%= @taryph.udate %>
</p>

<p>
  <strong>Edate:</strong>
  <%= @taryph.edate %>
</p>

<p>
  <strong>Index:</strong>
  <%= @taryph.index %>
</p>



<%= link_to 'Edit', edit_taryph_path(@taryph) %> |
<%= link_to 'Back', price_taryphs_path(@taryph.price.id) %>
