<!DOCTYPE html>
<html lang="<%= I18n.locale.to_s%>">
<style>
  body {
    margin: 30px 0px;
  }
  .navbar-default .navbar-nav > li.dropdown:hover > a, 
  .navbar-default .navbar-nav > li.dropdown:hover > a:hover,
  .navbar-default .navbar-nav > li.dropdown:hover > a:focus {
    background-color: rgb(231, 231, 231);
    color: rgb(85, 85, 85);
  }
  li.dropdown:hover > .dropdown-menu {
    display: block;
  }
</style>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="<%= t :sitedesk%>">
<meta name="author" content="dbachinin">
  <title>HotelLudi</title>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'bootstrap.min': 'reload' %>
  <%= javascript_include_tag 'application', 'jquery': 'reload' %>
  <%= javascript_include_tag 'application', 'jquery_ujs': 'reload' %>

  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body data-spy="scroll" data-offset="0" data-target="#navbar-main">
  <div id="navbar-main">
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
           <% if request.original_fullpath == "/"%>
          <a class="navbar-brand smoothScroll active" href="#home">
            <%= image_tag("logo.png")%>
          </a>
          <%else%>
          <a class="navbar-brand smoothScroll" href="/">
            <%= image_tag("logo.png")%>
          </a>
          <%end%>
        </div>


        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <% Hotel.all.each do |hotel| %>

            <li><a href="#hotel<%= hotel.id%>" class="smoothScroll"><%= hotel.name%></a></li>
            
            <%end%>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          <%= render file: 'layouts/_change_locale.html.erb' %>
            <% if user_signed_in? %>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b><%= current_user.login %></b><span class="caret"></span></a>
              <ul id="login-dp" class="dropdown-menu">
                <li><%= link_to (t :mybookings), bookings_path, class: 'navbar-link' %></li>
                <li><%= link_to (t :editprofile), edit_user_registration_path, class: 'navbar-link' %></li>

                <% if current_user.id == 1%>
                <li><%= link_to 'Ad_services', services_path %></li>
                <% if @room%>
                <li><%= link_to (t :prices), ([@hotel, @room,'prices']), class: 'navbar-link' %></li>
                <%end%>                
                <%if [@hotel,@room,@price] && @prices %>
                <li><%= link_to (t :taryphs), price_taryphs_path(@price||@prices), class: 'navbar-link' %></li>
                <%end%>
                <% end %>
                <li class="divider"></li>
                <li><%= link_to (t :logout), destroy_user_session_path, method: :delete, class: 'navbar-link'  %></li>
                <% else %>
                <li><a href="#" data-toggle="modal" data-target="#login-modal"><span class="glyphicon glyphicon-log-in"></span> <%= t :login%></a></li>


                <% end %>
                
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>

    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-dialog">

        <div class="log-section">
          <ul class="nav nav-tabs final-login">
            <li class="active"><a data-toggle="tab" href="#sectionA"><span class="glyphicon glyphicon-log-in"></span> <%= t :login%></a></li>
            <li><a data-toggle="tab" href="#sectionB"><span class="glyphicon glyphicon-user"></span> <%= t :signup%></a></li>
          </ul>
          <div class="tab-content">
            <div id="sectionA" class="tab-pane fade in active">
              <div class="innter-form">
                <%= render file: "devise/sessions/new2.html.erb"  %>
             </div>
             </div>
             <div id="sectionB" class="tab-pane fade">
              <div class="innter-form">
               <%= render file: "devise/registrations/new2.html.erb"  %>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


        



  <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
  <% end %>



  <%= yield %>
</body>
</html>
